  language: python
  python:
    - "2.7"
    - "3.5"
    - "3.6"

  sudo: required

  addons:
    apt:
      packages:
        libjs-mathjax

  script:
    - pip install -U .[test,doc]
    - python setup.py test
    - cd doc; make html; cd ..

  after_success:
    - coveralls
